#!/usr/bin/env bash

layout pipenv

source os_password.rc
export PATH=$(git rev-parse --show-toplevel)/bin:$PATH

export HTTPS_PROXY="socks5://localhost:5555/"
export ALL_PROXY="socks5://localhost:5555/"
